* {
	font-family: Inter !important;
}

.page-content {
	padding: 10px;
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.flex-grow-1 {
	flex-grow: 1;
}

.hidden {
	display: none !important;
}

#spinner {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.stats-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 12px 12px;
	grid-template-areas:
		". ."
		". .";
}

.status-img-icon {
	width: 1.25em;
	margin-left: 0;
	margin-right: 6px;
}